.bdycontent{
    background-color: silver;
    margin: 0px ;
}
.headelemet{
    background-color: grey;
    text-align: center;
    color: white;
    width: 100%;
    padding: 10px 0px 10px 0px;
   
}
.maincontent{
    background-color: steelblue;
    border: 10px solid black;
    margin: 10px 120px 10px 0px;
    color: white;
}

.footerelement{
    color: white;
    background-color: darkblue;
    text-align: center;
    margin: 10px 0px 0px 0px;
}